body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: white;
}

#matrix {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: -1;
}

.countdown {
  font-size: 10rem;
  color: hotpink;
  animation: pulse 1s infinite alternate;
  text-align: center;
}


@keyframes pulse {
  0% { opacity: 0.3; transform: scale(0.95); }
  100% { opacity: 1; transform: scale(1.05); }
}

.video-wrapper {
  display: none;
  width: 90vw;
  max-width: 600px;
}

video {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 30px hotpink;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#tapToStart {
  display: none;
  position: absolute;
  bottom: 10%;
  padding: 15px 30px;
  background: hotpink;
  border: none;
  font-size: 1.2rem;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #f0f;
  cursor: pointer;
  z-index: 10;
  animation: fadeIn 1s ease forwards;
}

#tapToStart:hover {
  background: #ff00aa;
}
